 :root {
     --yellow: #F5C32C;
     --orange: #BC2C33;
     --yellowish: #bc2c33b2;
     --black: #242D49;
     --gray: #788097;
     --blueCard: #DDF8FE;
     --purple: rgb(238 210 255);
     --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
     --orangeCard: rgba(252, 166, 31, 0.45);
     --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
 }

 .seccard {
     width: 18rem;
     height: 19rem;
     position: absolute;
     display: flex;
     flex-direction: column;
     gap: 1rem;
     align-items: center;
     text-align: center;
     background: rgba(255, 255, 255, 0.26) !important;
     border: 7px solid #bc2c33fa;
     box-shadow: var(--boxShadow);
     border-radius: 20px;
     padding: 0px 26px 2rem 26px;

     .heading {
         color: var(--black);
     }

     img {
         transform: scale(0.3);
         line-height: 1;
         // gap: 2rem;
         margin-bottom: -3rem;
         margin-top: -2rem;
     }

     .c-button {
         background: #dfd4d4;
         box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
         border-radius: 7px;
         border: none;
         padding: 10px;
         font-size: 16px;
         color: var(--black);
         font-weight: 500;

         :hover {
             transform: scale(1.1);
             cursor: pointer;
         }
     }

     .desc {
         color: #788097 !important;
         font-size: 14px !important;
     }
 }

 /* cards */
 @media only screen and (device-width: 280px) {
     .seccard {
         width: 15rem;
         height: 19rem;
     }
 }

 @media only screen and (device-width: 768px) {
     .seccard {
         width: 15rem;
         height: 19rem;
     }
 }

 @media screen and (device-width: 1024px) {
     .seccard {
         width: 15rem;
         height: 19rem;
     }
 }