@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
:root {
  --yellow: #F5C32C;
  --orange: #BC2C33;
  --yellowish: #bc2c337a;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #427885;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.snip1195 {
  font-family: "Raleway", Arial, sans-serif;
  overflow: hidden;
  width: 700px !important;
  margin-left: -8rem;
  background: #1a1a1a;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1195 * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.snip1195 .image {
  background-color: #000000;
  width: 50%;
  overflow: hidden;
}

.snip1195 img {
  max-width: 100%;
  vertical-align: top;
}

.snip1195 figcaption {
  position: absolute;
  width: 80%;
  left: 40%;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 35px;
}

.snip1195 h4,
.snip1195 p,
.snip1195 .price {
  margin: 0 0 8px;
}

.snip1195 p {
  margin-bottom: 6rem;
}

.snip1195 h4 {
  position: absolute;
  width: 50%;
  top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
}

.snip1195 p {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}

.snip1195 .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 600;
  width: 70.6%;
  left: 44.5%;
  background-color: rgba(177, 177, 177, 0.2);
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
}

.snip1195:hover img,
.snip1195.hover img {
  opacity: 0.6;
  transform: scale(1.1);
}

.snip1195:hover .add-to-cart,
.snip1195.hover .add-to-cart {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .snip1195 {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 1px;
    height: 480px !important;
    max-width: 520px !important;
    width: 100%;
    background: #1a1a1a;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  .snip1195 .image {
    display: none !important;
  }
  .snip1195 figcaption {
    position: absolute;
    width: 100%;
    left: 1% !important;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 35px;
  }
  .snip1195 h4 {
    position: absolute;
    width: 100%;
    top: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1px;
    z-index: 1;
  }
  .snip1195 .add-to-cart {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0% !important;
    font-weight: 600;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 44px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 415px) {
  .snip1195 {
    max-width: 400px !important;
    width: 100% !important;
  }
}
.modalBody {
  background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
  border-radius: 5px;
  border: 5px solid var(--yellowish);
}

.close-btn {
  background: var(--black);
  border: 1px solid transparent;
  margin-top: 2rem;
}
.close-btn:hover {
  background: var(--orange);
}

.controls {
  padding: 24px;
}

.ffooter-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ffooter-image img {
  max-width: 100%;
  height: 130px;
}

.more {
  margin-top: 1rem !important;
  margin-bottom: -8rem;
  background: linear-gradient(90.21deg, #be5258 -5.91%, #51608f 111.58%);
  padding-bottom: -100px !important;
  padding-top: 120px;
}

.service__container {
  margin: 5rem 5rem 5rem 5rem;
  display: grid;
  grid-template-columns: 30% 55%;
  gap: 15%;
  color: white;
}

.ourServices {
  width: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(45deg, transparent, #8aa4aa, transparent);
  display: grid;
  place-items: center;
  border-radius: 2rem;
}

.servicesImage {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: 0.3s ease;
  height: 98%;
  animation: rotation 5s infinite linear;
}
.servicesImage:hover {
  transform: rotate(0);
  animation: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.s__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.s__card {
  background: var(--black);
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}
.s__card:hover {
  background: rgba(36, 45, 73, 0.4588235294);
  border-color: rgba(112, 122, 153, 0.4588235294);
  cursor: default;
  transition: 0.4s ease;
  transform: translatey(-50px) rotatex(15deg) rotate(-15deg);
  box-shadow: 0px 0px #242d49, -10px 10px rgba(36, 45, 73, 0.5), -20px 20px rgba(36, 45, 73, 0.4), -30px 30px rgba(36, 45, 73, 0.3), -40px 40px rgba(36, 45, 73, 0.2), -50px 50px rgba(36, 45, 73, 0.1) !important;
}
.s__card:hover h5 {
  color: white;
}
.s__card .s_icon {
  color: #a9a9d3;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.s__card h5 {
  font-size: 0.95rem;
  color: whitesmoke;
  font-weight: 700;
}
.s__card small {
  font-size: 0.8rem;
  color: rgb(141, 155, 154);
}

.ourServices__content p {
  margin: 2rem 0 2.6rem;
  color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

h2,
p,
button {
  font-family: "Poppins";
}

.container {
  padding: 0;
  width: 100%;
  margin: 0;
}

.container-cards {
  width: 300px;
  height: 500px;
  margin: 30px auto;
  position: relative;
}

.container-cards-surface {
  position: relative;
}

.container-cards-front-image {
  height: 200px;
  width: 100%;
  -webkit-clip-path: ellipse(200px 150px at 50% 20%);
          clip-path: ellipse(200px 150px at 50% 20%);
}

.container-cards-front-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.container-cards-front-content {
  padding: 10px 30px;
}
.container-cards-front-content h2,
.container-cards-front-content p {
  color: #FFF;
}
.container-cards-front-content p {
  font-size: 14px;
}

.container-cards-front-label {
  color: #1c1b29;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 30px;
  background: rgba(198, 40, 40, 0.5411764706);
  font-family: "Poppins";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
  box-shadow: 10px 10px 13px -6px rgba(0, 0, 0, 0.32);
}

.container-cards-front-button {
  text-align: center;
}
.container-cards-front-button button {
  border: none;
  background: #ff6e7f;
  color: #1c1b29;
  border-radius: 5px;
  padding: 10px 5px;
  width: 100px;
  cursor: pointer;
  transition: filter 1s ease-in;
}
.container-cards-front-button button:hover {
  background: #ff6476;
}

.container-cards-surface {
  height: 500px;
  background: #1c1b29;
  width: 100%;
  height: 100%;
}

.container-cards-surface {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.container-cards-back2 {
  transform: rotateY(180deg);
  background-image: url("../../Assets/marketing2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container-cards-back3 {
  transform: rotateY(180deg);
  background-image: url("../../Assets/graphicd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container-cards-back4 {
  transform: rotateY(180deg);
  background-image: url("../../Assets/seo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container-cards-back5 {
  transform: rotateY(180deg);
  background-image: url("../../Assets/marketing2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container-cards-back1 {
  transform: rotateY(180deg);
  background-image: url("../../Assets/webb.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.container-cards-back {
  transform: rotateY(180deg);
  background-image: url("../../Assets/phone.jpg");
  -o-object-fit: fill;
     object-fit: fill;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.container-cards-back .container-cards-back-content,
.container-cards-back1 .container-cards-back-content,
.container-cards-back2 .container-cards-back-content,
.container-cards-back3 .container-cards-back-content,
.container-cards-back4 .container-cards-back-content,
.container-cards-back5 .container-cards-back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-cards-back h2,
.container-cards-back1 h2,
.container-cards-back2 h2,
.container-cards-back3 h2,
.container-cards-back4 h2,
.container-cards-back5 h2 {
  color: rgba(28, 27, 41, 0.8);
  letter-spacing: 5px;
  font-size: 60px;
  font-weight: 700;
  transform: rotate(-45deg);
}

.container-cards:hover .container-cards-front {
  transform: rotateY(180deg);
}
.container-cards:hover .container-cards-back,
.container-cards:hover .container-cards-back1,
.container-cards:hover .container-cards-back2,
.container-cards:hover .container-cards-back3,
.container-cards:hover .container-cards-back4,
.container-cards:hover .container-cards-back5 {
  transform: rotateY(0);
}

.Ccards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  margin-bottom: -3rem;
}

@media screen and (max-width: 1024px) {
  .service__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .service__container .ourServices {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .service__container .ourServices__content p {
    margin: 1rem 0 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .ourServices {
    width: 100% !important;
    margin: 0 auto 3rem;
  }
  .s__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .ourServices__content {
    text-align: center;
  }
  .ourServices__content p {
    margin: 1.5rem 0;
  }
}
@media screen and (min-width: 360px) and (max-width: 411px) {
  .ourServices {
    width: 65%;
  }
  .s__cards {
    margin-left: -3rem;
  }
  .ourServices__content {
    text-align: center;
    width: 15rem;
  }
}
@media screen and (width: 280px) {
  .ourServices {
    width: 100% !important;
  }
  .s__cards {
    margin-left: -6rem;
    gap: 0;
    width: 1rem !important;
  }
  .ourServices__content {
    text-align: center;
    width: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .Ccards {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin-top: 1rem !important;
    grid-gap: 20px !important;
    margin-right: 2rem;
    margin-bottom: -5rem !important;
  }
}/*# sourceMappingURL=Appdev.css.map */