 :root {
     --yellow: #F5C32C;
     --yellowish: #bc2c337a;
     --orange: #BC2C33;
     --black: #1c4494;
     --black2: #1c55c7d7;
     --gray: #788097;
     --blueCard: #DDF8FE;
     --purple: rgb(238 210 255);
     --boxShadow: 0px 19px 60px rgba(0, 0, 0, 0.5);
     --orangeCard: #bc2c337a;
     --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
 }

 .separator {
     text-align: center;
     margin-bottom: -21rem;
     margin-top: 20rem;
 }

 .separator::before,
 .separator::after {
     content: " ";
     display: inline-block;
     border-top: 2px solid #333;
     padding-bottom: 4px;
     width: 15%;
 }

 .separator::before {
     margin-right: 12px;
 }

 .separator::after {
     margin-left: 12px;
 }

 .experience {
     padding: 15rem 25rem 15rem 15rem;
     //padding-top: 15rem;
     margin-top: 20rem;
     display: flex;
     align-items: center;
     gap: 4rem;
     height: 30vh;

     // background: linear-gradient(90.21deg, #bc2c3360 -5.91%, #242d494b 111.58%);
     // box-shadow: -79px 51px 60px rgb(255, 0, 0);
     // border-top: 3px solid black;
     .background-image-left {
         top: 28%;
         position: absolute;
         bottom: 0;
         width: 40%;
         z-index: -4;
         margin-top: 60rem !important;
         margin-left: -30rem;
         animation: key 7s linear infinite;
     }

     .background-image-top {
         top: 50%;
         position: absolute;
         margin-top: -15rem;
         margin-left: 45rem;
         width: 40%;
         z-index: -4;
         animation: key 4s linear infinite;
     }

     @keyframes key {
         0% {
             transform: translateY(-20px);
         }

         50% {
             transform: translateY(80px);
         }

         100% {
             transform: translateY(-20px);
         }
     }

     .bubbleContainer {
         position: relative;
         width: 100%;
         height: 20vh;

         .bubbles {
             position: relative;
             display: flex;

             span {
                 position: relative;
                 width: 30px;
                 height: 30px;
                 background: var(--black);
                 margin: 0 4px;
                 border-radius: 50%;
                 box-shadow: 0 0 0 10px #4FC3DC44,
                     0 0 50px #4FC3DC,
                     0 0 100px #4FC3DC;
                 animation: animate 15s linear infinite;
                 animation-duration: calc(10s/var(--i));
                 z-index: -999;

                 &:nth-child(even) {
                     background: var(--orange);
                     box-shadow: 0 0 0 10px #dc4f4f44,
                         0 0 50px #dc4f4f,
                         0 0 100px #dc4f4f;
                 }

                 &:nth-child(1) {
                     --i: 11;
                 }

                 &:nth-child(2) {
                     --i: 13;
                 }

                 &:nth-child(3) {
                     --i: 15;
                 }

                 &:nth-child(4) {
                     --i: 26;
                 }

                 &:nth-child(5) {
                     --i: 12;
                 }

                 &:nth-child(6) {
                     --i: 19;
                 }

                 &:nth-child(7) {
                     --i: 22;
                 }

                 &:nth-child(8) {
                     --i: 14;
                 }

                 &:nth-child(9) {
                     --i: 9;
                 }

                 &:nth-child(10) {
                     --i: 25;
                 }

                 &:nth-child(11) {
                     --i: 12;
                 }

                 &:nth-child(12) {
                     --i: 17;
                 }

                 &:nth-child(13) {
                     --i: 16;
                 }

                 &:nth-child(14) {
                     --i: 19;
                 }

                 &:nth-child(15) {
                     --i: 25;
                 }

                 &:nth-child(16) {
                     --i: 20;
                 }

                 &:nth-child(17) {
                     --i: 21;
                 }

                 &:nth-child(18) {
                     --i: 13;
                 }

                 &:nth-child(19) {
                     --i: 9;
                 }
             }
         }
     }

     @keyframes animate {
         0% {
             transform: translateY(20vh) scale(0);
         }

         100% {
             transform: translateY(-10vh) scale(1);
         }
     }

     .achievement {
         display: flex;
         flex-direction: column;
         align-items: center;

         // margin-left: -5rem;
         span {
             font-size: 25px;
         }

         .circle {
             width: 10rem;
             height: 10rem;
             background: white;
             border-radius: 100%;
             position: relative;
             display: flex;
             align-items: center;
             justify-content: center;
             font-size: 1.5rem;
             font-weight: bold;
             margin-bottom: 2rem;

             &::before {
                 border-radius: 100%;
                 content: '';
                 background-image: linear-gradient(to bottom, #BC2C33 0%, #547fd6d7 100%);
                 top: -8px;
                 left: -8px;
                 bottom: -8px;
                 right: -8px;
                 position: absolute;
                 z-index: -1;
                 box-shadow: var(--boxShadow);
             }
         }
     }

     .achievement span:nth-of-type(2) {
         color: #BC2C33;
     }
 }

 @keyframes work-blueCircle {
     from {
         transform: translateY(15rem);
     }

     to {
         transform: translateX(90%);
     }
 }

 @media screen and (max-width: 600px) {
     .separator {
         margin-top: 10rem;
     }

     .experience {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin-left: -13rem;
         margin-top: 10rem !important;
         padding-bottom: -10rem !important;
         gap: -2;

         .achievement {
             margin-bottom: -2rem;

             .circle {
                 width: 5rem !important;
                 height: 5rem !important;
             }
         }
     }
 }

 @media screen and (device-width: 280px) {
     .experience {
         margin-left: -14rem;
         margin-top: 10rem !important;

         .achievement {
             span {
                 font-size: 20px;
             }

             .circle {
                 width: 4rem !important;
                 height: 4rem !important;
             }
         }
     }
 }

 @media only screen and (min-device-width:768px) and (max-device-width: 912px) {
     .separator {
         margin-top: -25rem;
     }

     .experience {
         //  margin-top: -25rem !important;
         margin-left: -10rem;

         .achievement {
             .circle {
                 width: 6rem;
                 height: 6rem;
             }
         }
     }
 }

 @media only screen and (device-width:600px) {
     .experience {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin-left: 6rem;
         margin-top: 5rem;
     }
 }

 @media only screen and (device-width:1024px) {
     .experience {
         //  margin-left: -2rem;
         margin-left: -10rem;
         //  margin-top: 20rem !important;
     }
 }

 @media screen and (device-width: 767px) {
     .experience {
         margin-left: -6rem !important;
     }
 }

 @media screen and (min-device-width: 1400px) {
     .experience {
         justify-items: center;
         text-align: center;
         justify-content: center;
         margin-left: 10rem;

         .background-image-left {
             top: 33%;
             position: absolute;
             bottom: 0;
             width: 40%;
             z-index: -4;
             margin-top: 60rem !important;
             margin-left: -60rem !important;
         }

         .background-image-top {
             top: 46%;
             position: absolute;
             margin-top: -15rem;
             margin-left: 70rem !important;
             width: 40%;
             z-index: -4;
         }
     }
 }

 @media screen and (device-width: 1920px) {
     .experience {
         justify-items: center;
         text-align: center;
         justify-content: center;
         margin-left: 10rem;

         .background-image-left {
             top: 33%;
             position: absolute;
             bottom: 0;
             width: 40%;
             z-index: -4;
             margin-top: 60rem !important;
             margin-left: -60rem !important;
         }

         .background-image-top {
             top: 46%;
             position: absolute;
             margin-top: -15rem;
             margin-left: 70rem !important;
             width: 40%;
             z-index: -4;
         }
     }
 }