:root {
  --yellow: #F5C32C;
  --orange: #BC2C33;
  --orage: #f5858b;
  --yellowish: #bc2c337a;
  --black: #242D49;
  --bck: #50535c;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

#top-header {
  background: #242D49;
  /* fallback for old browsers */
  height: 2rem;
  z-index: 999 !important;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  -webkit-transition: -webkit-transform 1s !important;
}
.header-links li:hover {
  -webkit-transform: rotate(360deg) translateZ(0) !important;
}

.pull-right {
  float: right;
  padding-bottom: 5px;
  padding-top: 0.2rem;
}

.pull-left {
  float: left;
  padding-bottom: 5px;
  padding-top: 0.2rem;
}

.info a {
  color: white;
  font-family: "Poppins";
}
.info a:hover {
  color: var(--orange);
}

.header-links li i {
  color: #fffefe;
  margin-right: 5px;
}
.header-links li i:hover {
  color: var(--orange);
}

.header {
  background: #ffffff !important;
  position: absolute;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  padding: 1rem;
}
.header li {
  list-style: none;
}
.header .navLists {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-right: 4rem;
}
.header .navLists .navLink {
  color: var(--black);
  font-weight: 600;
  line-height: 1rem;
}
.header .navLists .navLink:hover {
  background: black;
  color: white;
  border-bottom: 2px solid var(--orange);
  padding: 2rem 1rem 2rem 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: 0.3s ease-in-out;
}
.header .navLists .navLink .headerNumber {
  color: white;
}

.toggleNavbar .icon {
  font-size: 25px;
  color: var(--black);
}
.toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 1280px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .header-links {
    margin-right: -6rem;
  }
  .navBar {
    background: var(--black);
    position: absolute;
    height: 150vh !important;
    width: 100%;
    padding: 0.2rem;
    top: 0;
    left: -500%;
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease-in-out;
    -webkit-clip-path: circle(140vh at 50% -50vh) !important;
            clip-path: circle(140vh at 50% -50vh) !important;
  }
  .navBar .navLists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    padding: 0.3rem 0;
  }
  .navBar .navLists .navItem {
    padding: 0rem 0;
  }
  .navBar .navLists .navItem .navLink {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(0px) rotate(0deg);
  }
  .navBar .navLists .navItem .navLink:hover {
    color: white;
  }
  .navBar .navLists .headerBtns {
    flex-direction: column;
  }
  .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
  }
  .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
  }
  .navBar .navLists .headerBtns .btn:hover a {
    color: var(--whiteColor);
  }
  .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
  }
  .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--whiteColor);
  }
  .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: white;
  }
  .navBar .closeNavbar:hover .icon {
    color: rgb(156, 151, 151);
  }
  .activeNavbar {
    left: 0%;
  }
}
@media screen and (max-width: 600px) {
  .header-links {
    margin-right: -2rem;
  }
  .pull-left span {
    display: none;
  }
}/*# sourceMappingURL=navbar.css.map */