  :root {
      --yellow: #F5C32C;
      --orange: #BC2C33;
      --orage: #f5858b;
      --yellowish: #bc2c337a;
      --black: #242D49;
      --bck: #50535c;
      --gray: #788097;
      --blueCard: #DDF8FE;
      --purple: rgb(238 210 255);
      --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
      --orangeCard: rgba(252, 166, 31, 0.45);
      --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  }

   .dropdown-menu {
       position: absolute;
       top: 100px;
       right: 20px;
       background: #fff;
       border-radius: 25px;
       padding: 10px 20px;
       width: 200px;

       &::before {
           content: '';
           position: absolute;
           top: -5px;
           right: 20px;
           background: #000;
           transform: rotate(45deg);
       }

       ul{
        li{
            padding: 10px 0;
            border-top: 1px solid rgba(0,0,0,0.5);

            &:hover{
                a{
                    color: red;
                    cursor: pointer;
                }
            }
        }
       }
   }

   .dropdownItem{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    font-family: 'Poppins';

    .item{
        &:hover{
            color: #242D49;
        }
    }
  
   }
   
#navDropDown{
   
}
  .socials {
      display: flex;
      flex-direction: row;
      background: #242D49;
      height: 2rem;
      z-index: 999 !important;

      .sIcon {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
      }
  }

  #top-header {
      background: #242D49;
      /* fallback for old browsers */
      height: 2rem;
      z-index: 999 !important;
  }

  .header-links li {
      display: inline-block;
      margin-right: 15px;
      font-size: 20px;
      -webkit-transition: -webkit-transform 1s !important;

      &:hover {
          -webkit-transform: rotate(360deg) translateZ(0) !important;
      }
  }

  .header-links {
      float: right;
      padding-bottom: 5px;
      padding-top: 0.2rem;
  }

  .header-links li i {
      color: #fffefe;
      margin-right: 5px;

      &:hover {
          color: var(--orange);
      }
  }

  .header {
      background: #ffffff !important;
      position: absolute;
      display: flex;
      align-items: center !important;
      justify-content: space-between;
      width: 100%;
      height: 5rem;
      z-index: 1000;
      padding: 1rem;

      li {
          list-style: none;
      }

      .navLists {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 3rem;
          margin-right: 4rem;

          //margin-top: 1rem;
          .navLink {
              color: var(--black);
              font-weight: 600;
              line-height: 1rem;

              &:hover {
                  background: black;
                  color: white;
                  border-bottom: 2px solid var(--orange);
                  padding: 2rem 1rem 2rem 1rem;
                  border-top-left-radius: 25px;
                  border-top-right-radius: 25px;
                  transition: .3s ease-in-out;
              }

              .headerNumber {
                  color: white;
              }
          }
      }
  }

  .toggleNavbar {
      .icon {
          font-size: 25px;
          color: var(--black);
      }

      &:hover.icon {
          color: var(--SecondaryColor);
      }
  }

  @media screen and (min-width: 1280px) {

      .toggleNavbar,
      .closeNavbar {
          display: none;
      }
  }

  @media screen and (max-width:1279px) {
      .header-links {
          margin-right: -6rem;
      }

      .navBar {
          background: var(--black);
          position: absolute;
          height: 150vh !important;
          width: 100%;

          padding: .2rem;
          top: 0;
          left: -500%;
          z-index: 2000;
          box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
          transition: .5s ease-in-out;
          clip-path: circle(140vh at 50% -50vh) !important;

          .navLists {
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              align-items: center;
              margin-top: 2rem;
              padding: .3rem 0; //on the wide screen padding should be :0 1rem


              .navItem {
                  padding: 0rem 0; //on the wide screen padding should be :0 1rem

                 

                  .navLink {
                      color: rgb(255, 255, 255);
                      font-size: .9rem;
                      font-weight: 600;
                      opacity: 1;
                      transform: scale(1) translateY(0px) translateX(0px) rotate(0deg);

                     

                      &:hover {
                          color: white;
                      }

                  }
              }

              .headerBtns {
                  flex-direction: column;

                  .btn {
                      margin-top: 1rem; //on the wide screen margin-left should be 1rem

                      a {
                          font-weight: 600;
                      }

                      &:hover {
                          a {
                              color: var(--whiteColor);
                          }
                      }
                  }

                  .loginBtn {
                      background: none;
                      border: 1px solid var(--PrimaryColor);
                      color: var(--PrimaryColor);

                      a {
                          color: var(--PrimaryColor);
                      }

                      &:hover {
                          background: var(--HoverColor);

                          a {
                              color: var(--whiteColor);
                          }
                      }
                  }
              }
          }

          .closeNavbar {
              position: absolute;
              top: 1rem;
              right: 1.5rem;
              color: white;

              &:hover .icon {
                  color: rgb(156, 151, 151);
              }
          }
      }

      .activeNavbar {
          left: 0%;
      }
  }

  @media screen and (max-width:600px) {
      .header-links {
          margin-right: -2rem;
      }
  }